@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .modal {
    /* 화면 정 가운데 위치 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    @apply lg:max-w-[980px] mx-auto px-[12px];
  }

  .text-ellipsis-3 {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.card-text, .card-text2 {
  width: 100%;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .card-text {
    width: calc(100% - 160px);
  }
  .card-text2 {
    width: calc(100% - 250px);
  }
}
@media (min-width: 1024px) {
}
