@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .auth-input {
    @apply text-gray-300 bg-transparent border border-gray-300 border-solid rounded-lg p-2 outline-none focus:border-sky-300;
  }
}

* {
  box-sizing: border-box;
}
